/* Notification Styles */
.notification {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #8acd2b; /* Green background color */
    color: #171515; /* White text color */
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    z-index: 1000; /* Ensure it is above other content */
    opacity: 0; /* Start as invisible */
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out; /* Smooth transition */
}

.notification.show {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.05); /* Slightly enlarge on show */
}
.notification.hidden {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.95); /* Slightly shrink on hide */
}

/* Checkmark Animation */
.checkmark-container {
    margin-right: 15px;
}

.checkmark {
    width: 30px;
    height: 30px;
}

.checkmark-circle {
    stroke: white;
    stroke-width: 2;
    stroke-dasharray: 157;
    stroke-dashoffset: 0;
    animation: circle 0.5s ease-in-out;
}

.checkmark-check {
    stroke: white;
    stroke-width: 2;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: checkmark 0.5s ease-in-out 0.5s forwards;
}

@keyframes circle {
    0% {
        stroke-dasharray: 157;
    }
    100% {
        stroke-dasharray: 0;
    }
}

@keyframes checkmark {
    0% {
        stroke-dashoffset: 48;
    }
    100% {
        stroke-dashoffset: 0;
    }
}
